:root
{
     --blue-main: #0065FC;
     --blue-second: #DEEBFF;
     --grey-main: #F2F2F2;
     --white-main: #FFFFFF;
}

body
{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Raleway', Arial, Helvetica, sans-serif;
     color: #000000;
}

.bloc_page 
{
     width: 95%;
     margin: 0 auto;
}

h2
{
     font-size: 22px;
     font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

a
{
     color: black;
     text-decoration: none;
}

/*   Header   */

header
{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

#logo img
{
     margin-left: -80px;
     transform: scale(0.4);
}

nav a
{
     padding: 56px 30px 56px 30px;
}

nav a:hover, 
nav a:focus
{
     color: var(--blue-main);
     border-top: 4px solid var(--blue-main);
}

/*   Searchform   */

.search-title p
{
     font-size: 18px;
     margin: -10px 0px 20px 0px;
}

.search 
{
     margin-top: -10px;
     margin-left: 5px;
}

.fa-location-dot
{
     height: 24px;
     background-color: var(--grey-main);
     border: 1px solid var(--grey-main);
     border-radius: 15px 0px 0px 15px;
     padding: 16px 20px 18px 20px;
}

form
{
     display: flex;
     flex-direction: row;
     margin-top: 25px;
}

.form 
{
     padding: 15px;
     font-size: 20px;
     font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}

[value="Marseille, France"]
{
     color: grey;
}

input
{
     border: 0px;
     border-top: 1px solid var(--grey-main);
     border-bottom: 1px solid var(--grey-main);
}

.btn_search
{
     font-weight: bold;
     background: var(--blue-main);
     color: var(--white-main);
     border-radius: 0 15px 15px 0;
     border: none;
     cursor: pointer;
}

.btn_search:hover 
{
     background: var(--blue-second);
     color: var(--blue-main);
     font-size: 20px;
     border: 1px solid var(--blue-main);
     transition: 0.5s;
}

.icon_search
{
     display: none;
     cursor: pointer;
}

/*   Search filters   */

.filters
{
     margin-top: 30px;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.filters h4
{
     margin-right: 25px;
}

.filter-boxes
{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.filter-box
{
     font-weight: bold;
     height: 50px;
     margin: 0px 10px 0px 10px;
     border: 2px solid #D9D9D9;
     border-left: none;
     border-radius: 25px;
     display: flex;
     align-items: center;
     cursor: pointer;
}

.filter-box i
{
     color: var(--blue-main);
     background-color: var(--blue-second);
     height: 50px;
     width: 50px;
     border: 2px solid var(--blue-second);
     border-radius: 25px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.filter-box .text
{
     font-size: 18px;
     padding: 0px 25px 0px 15px;
}

.filter-box:hover
{
     color: var(--grey-main);
     background-color: var(--blue-main);
     transition: 0.25s;
}

.info .fa-info
{
     font-size: 15px;
     font-weight: bold;
     color: var(--blue-main);
     height: 25px;
     width: 25px;
     border: 2px solid var(--blue-second);
     border-radius: 25px;
     margin-right: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.info
{
     margin: 40px 0;
     display: flex;
     align-items: center;
}

.info p
{
     font-size: 18px;
}

/*   Aside   */

aside
{
     width: 30%;
     border-radius: 20px;
     background-color: var(--grey-main);
     box-sizing: border-box;
     margin-left: 40px;
}

.popular h2
{
     font-size: 22px;
     padding: 20px 30px 0px 15px;
     margin: 20px 10px 25px 20px;
     display: flex;
     justify-content: space-between;
}

.popular .host-card
{
     height: 140px;
     width: 80%;
     margin: 0px 30px 25px 38px;
     position: relative;
}

.popular .color-card
{
     background: var(--white-main);
     box-shadow: 0px 5px 10px 5px #e3e3e3;
     border: 4px solid var(--white-main);
     border-radius: 20px;
}

.popular .content
{
     width: 100%;
     height: 100%;
     display: flex;
}

.popular .card-text h4
{
     margin: 10px 0px 0px 20px;
     font-size: 15px;
}

.popular .card-text p
{
     margin: 5px 0px 0px 20px;
     font-size: 13px;
}

.popular .card-rate
{
     position: absolute;
     bottom: 0;
     margin-bottom: 5px;
     margin-left: 20px;
}

.popular .img-content img 
{
     height: 100%;
     width: 150px;
     border-radius: 18px 0px 0px 18px;
     object-fit: cover;
}

/*   Hosts   */

.hosts
{
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
}

.city h2
{
     font-size: 22px;
     padding: 20px 0px 0px 15px;
     margin: 20px 20px 10px 20px;
}

.city
{
     width: 70%;
     border-radius: 20px;
     background-color: var(--grey-main);
     box-sizing: border-box;
}

.card
{
     display: flex;
     justify-content: space-around;
     margin: 0 20px;
}

.city .content
{
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
}

.city .host-card
{
     height: 190px;
     width: 30%;
     margin: 15px;
     position: relative;
}

.city .color-card
{
     background: var(--white-main);
     box-shadow: 0px 5px 10px 5px #e3e3e3;
     border: 4px solid var(--white-main);
     border-radius: 20px;
}

.city .card-text
{
     display: flex;
     flex-direction: column;
     padding-left: 10px;
}

.city .card-text h4
{
     margin: 5px 0px 0px 0px;
     font-size: 15px;
}

.city .card-text p
{
     margin: 5px 0;
     font-size: 13px;
}

.price
{
     font-weight: bold;
}

.currency
{
     font-weight: bold;
}

.card-rate 
{
     font-size: 12px;
     letter-spacing: -1px;
     position: absolute;
     bottom: 0;
     margin-bottom: 5px;
}

.card-rate .fa-star.blue
{
     color: var(--blue-main);
}
 
.card-rate .fa-star.grey
{
     color: var(--blue-second);
}

.city .img-content
{
     width: 100%;
     height: 60%;
     display: block;
}
.city .img-content img
{
     height: 100%;
     width: 100%;
     border-radius: 18px 18px 0px 0px;
     object-fit: cover;
}

.scroll-down
{
     font-size: 18px;
     font-weight: bold;
     margin: 30px 10px 25px 38px;
}

/*   Activities  */

#activities
{
     width: 100%;
     margin: 50px auto;
}

#activities h2
{
     font-size: 22px;
}

.activities-list
{
     display: flex;
     gap: 40px
}

.activity-card
{
     display: contents;
}

.large-card
{
     width: 100%;
     height: 500px;
     border-radius: 25px;
     box-shadow: 0px 5px 20px 1px #eeeeee;
}

.card-img
{
     width: 100%;
     height: 440px;
}

.small-cards
{
     width: 40%;
     height: 500px;
}

.card-one
{
     width: 100%;
     height: 280px;
     border-radius: 25px;
     box-shadow: 5px 5px 20px 1px #eeeeee;
}

.card-one .card-img
{
     width: 100%;
     height: 220px;
}

.card-two
{
     width: 100%;
     height: 180px;
     border-radius: 25px;
     box-shadow: 5px 5px 20px 1px #eeeeee;
     margin-top: 40px;
}

.card-two .card-img
{
     width: 100%;
     height: 120px;
}

.card-three
{
     width: 100%;
     height: 220px;
     border-radius: 25px;
     box-shadow: 5px 5px 20px 1px #eeeeee;
}

.card-three .card-img
{
     width: 100%;
     height: 160px;
}

.card-four
{
     width: 100%;
     height: 235px;
     border-radius: 25px;
     box-shadow: 5px 5px 20px 1px #eeeeee;
     margin-top: 45px;
}

.card-four .card-img
{
     width: 100%;
     height: 175px;
}

.card-img img
{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 25px 25px 0px 0px;
}

.card-title
{
     font-size: 18px;
     padding-left: 15px;
     margin-top: -5px;
}

/*   Footer   */

footer
{
     background-color: var(--grey-main);
     margin: 0px auto;
     padding: 30px 0px 40px 40px;
     display: flex;
}

footer .column
{
     width: 40%;
}
 
footer .column ul
{
     padding: 0px;
     list-style-type: none;
}
 
footer .column ul li a
{
     line-height: 30px;
}


/************************************
     Desktop smaller screens
************************************/

@media all and (max-width: 1240px) 
{
     .bloc_page 
     {
          width: 95%;
     }

/*   Aside   */

     aside
     {
          height: 300px;
          width: 100%;
          margin-left: 0px;
          padding-left: 20px;
          padding-right: 20px;
     }

     .popular h2
     {
          padding: 20px 10px 0px 0px;
          margin: 10px 5px 10px 10px;
          display: flex;
          justify-content: space-between;
     }

    .popular-list
     {
          display: flex;
          justify-content: center;
     }

     .popular .host-card
     {
          height: 180px;
          width: 35%;
          margin: 10px 15px 15px 15px;
          position: relative;
     }

/*   Hosts   */

     .hosts
     {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
     }

     .city
     {
          width: 100%;
          margin-top: 25px;
     }

     /*   Activities  */

     #activities
     {
          width: 100%;
          margin: 50px auto;
     }

     #activities h2
     {
          width: 100%;
          margin: 10px auto;
     }

     .activities-list
     {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
     }

     .activity-card
     {
          width: 100%;
          display: flex;
          gap: 40px
     }
     
     .large-card
     {
          height: 500px;
          width: 100%;
     }

     .large-card .card-img
     {
          height: 440px;
     }
     
     .small-cards
     {
          width: 60%;
     }

/*   Footer   */

     footer
     {
          padding: 30px 0px 40px 30px;
     }

}


/************************************
               Tablet
************************************/

@media all and (max-width: 992px)
{
     .bloc_page
     {
          width: 95%;
     }

/*   Search filters   */

     .filters
     {
          margin: 30px auto;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
     }

     .filter-box
     {
          margin: 0px 10px 10px 10px;
     }

     .filters h4
     {
          margin: 10px 0px;
     }

/*   Aside   */

     aside
     {
          height: auto;
          width: 100%;
          margin: 0 auto;
          padding-bottom: 20px;
     }

     .popular h2
     {
          margin: 20px auto;
          padding: 20px 0px 0px 0px;
          width: 95%;
     }

     .popular-list
     {
          display: initial;
     }

     .popular .host-card
     {
          height: 150px;
          width: 95%;
          margin: 20px auto;
     }
     
     .popular .card-text h4
     {
          font-size: 18px;
     }
     
     .popular .card-text p
     {
          font-size: 16px;
     }

/*   Hosts   */

     .hosts
     {
          flex-direction: column;
          justify-content: center;
     }

     .city
     {
          width: 100%;
          border-radius: 20px;
          background-color: var(--grey-main);
          margin: 15px auto;
     }

     .city h2
     {
          margin: 15px auto;
          width: 95%;
     }

     .card
     {
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;
     }

     .city .color-card
     {
          box-shadow: 2px 2px 15px 1px #e3e3e3;
     }

     .city .host-card
     {
          height: 300px;
          width: 90%;
          margin: 10px 20px 15px 30px;
     }

     .city .card-text h4
     {
          margin: 8px 0 0 0;
          font-size: 18px;
     }
     .city .card-text p
     {
          margin: 8px 0px 10px 0px;
          font-size: 16px;
     }

     .card-rate 
     {
          margin-top: 25px;
          font-size: 15px;
          letter-spacing: -1px;
     }

}

/************************************
               Mobile                
************************************/

@media all and (max-width: 757px)
{

     .bloc_page 
     {
     width: 100%;
     }

/*   Header   */

     header
     {
          display: flex;
          flex-direction: column;
     }

     #logo img
     {
          margin: -10px auto;
     }

     nav
     {
          display: flex;
          width: 100%;
     }

     nav a
     {
          text-align: center;
          width: 100%;
          padding: 0px 0px 10px 0px;
          border-bottom: 3px solid var(--grey-main);
     }

     nav a:hover, 
     nav a:focus
     {
          color: var(--blue-main);
          border-top: none;
          border-bottom: 3px solid var(--blue-main);
     }

/*   Searchform   */

     .search 
     {
          width: 95%;
          margin: 0 auto;
     }

     .search-title
     {
          width: 95%;
          margin: 35px auto;
     }

     .search-title p
     {
          font-size: 16px;
          margin: -10px auto;
     }

     input 
     {
          width: 60%;
     }

     .word_search 
     {
          display: none;
     }

     .icon_search 
     {
          display: block;
          background: var(--blue-main);
          color: var(--grey-main);
          border-radius: 10px 10px 10px 10px;
     }

/*   Search filters   */

     .filters
     {
          width: 100%;
          margin: 20px auto;
          padding-top: 20px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
     }

     .filters h4
     {
          margin: 0px 25px 20px 10px;
     }

     .filter-box
     {
          margin: 0px 10px 15px 5px;
     }

     .filter-box .text
     {
          padding: 0px 15px 0px 10px;
     }
     
     .info
     {
     display: flex;
     align-items: initial;
     position: relative;
     margin: 20px auto;
     }

     .info .fa-info
     {
          position: absolute;
          left: 7px;
     }

     .info p
     {
          font-size: 14px;
          margin-left: 50px;
          margin-top: 8px;
     }

/*   Aside   */

     aside
     {
          width: 100%;
          margin: 10px auto;
          padding-bottom: 30px;
          border-radius: 0px;
     }

     .popular h2
     {
          padding: 0px;
          margin: 30px auto;
          width: 96%;
     }

     .popular .host-card
     {
          height: 150px;
          width: 95%;
          margin: 15px auto;
     }

     .popular .card-text h4
     {
          margin: 10px 20px 0 20px;
          font-size: 15px;
     }

     .popular .card-text p
     {
          margin: 10px 40px 0 20px;
          font-size: 15px;
     }

     .popular .img-content img 
     {
          width: 120px;
     }

/*   Hosts   */

     .hosts
     {
          flex-direction: column;
          justify-content: center;
     }

     .city
     {
          width: 100%;
          background-color: white;
          margin: 15px auto;
     }

     .city h2
     {
          margin: 0px auto 15px auto;
          padding: 0px;
          width: 92%;
     }

     .card
     {
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;
     }

     .city .host-card
     {
          height: 220px;
          width: 90%;
          margin: 8px auto;
     }

     .city .card-text h4
     {
          margin: 8px 0 0 0;
          font-size: 16px;
     }

     .city .card-text p
     {
          margin: 8px 0px 0px 0px;
          font-size: 15px;
     }

     .card-rate 
     {
          font-size: 12px;
          letter-spacing: -1px;
     }

     .scroll-down
     {
          font-weight: bold;
          margin: 30px auto 0px auto;
          width: 90%;
     }

/*   Activities  */

     #activities h2
     {
          margin: 10px auto;
          width: 90%;
     }

     .activities-list
     {
          gap: 0;
     }

     .activity-card
     {
          display: contents;
     }

     .large-card
     {
          width: 90%;
          height: 195px;
          margin: 10px auto;
     }

     .large-card .card-img
     {
          width: 100%;
          height: 145px;
     }

     .small-cards
     {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
     }

     .card-one
     {
          width: 90%;
          height: 195px;
          margin: 10px auto;
     }

     .card-one .card-img
     {
          width: 100%;
          height: 145px;
     }

     .card-two
     {
          width: 90%;
          height: 195px;
          margin: 10px auto;
     }

     .card-two .card-img
     {
          width: 100%;
          height: 145px;
     }

     .card-three
     {
          width: 90%;
          height: 195px;
          margin: 10px auto;
     }

     .card-three .card-img
     {
          width: 100%;
          height: 145px;
     }

     .card-four
     {
          width: 90%;
          height: 195px;
          margin: 10px auto;
     }

     .card-four .card-img
     {
          width: 100%;
          height: 145px;
     }

     .card-title
     {
          font-size: 16px;
     }

/*   Footer   */

     footer
     {
          width: 100%;
          margin: 0px auto;
          padding: 0;
     }

     footer .column
     {
          width: 100%;
          margin: 0 5%;
     }

     footer .column ul li a
     {
          line-height: 32px;
     }

     footer .column ul
     {
          padding: 0px;
          list-style-type: none;
     }

}